#radar_board {
    width: 800px;
    height: 800px;
}
body{
		font-family: 'Open Sans';
}
#header{
    border: none;
    border-radius: 0;
	width: 100%;
    color: #fff;
    background-color: #3282D0;
    text-decoration: none;
}
#header a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
#header a:hover{
    background-color: #2b75bd;
}

#title_link{
    font-size: 2em;
    margin: 0;
    padding: 0.1em;
    padding-right: 0.2em;
    padding-left: 0.2em;
}
.title_right{
    float: right;
}
.title_left{
    float: left;
}