#radar_board {
    width: 800px;
    height: 800px;
}
body{
		font-family: 'Open Sans';
}
#header{
		width: 100%;
    color: #fff;
    background-color: #000;
    text-decoration: none;
}
#header a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#header_right{
    float: right;
}
#header_left{

}


.title{
		font-size: 2em;
		margin: 0;

}
