#radar_board {
    width: 800px;
    height: 800px;
}
body{
		font-family: 'Open Sans';
}
#header{
    border: none;
    border-radius: 0;
	width: 100%;
    color: #fff;
    background-color: #3282D0;
    text-decoration: none;
}
#header a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
#header a:hover{
    background-color: #2b75bd;
}

#title_link{
    font-size: 2em;
    margin: 0;
    padding: 0.1em;
    padding-right: 0.2em;
    padding-left: 0.2em;
}
.title_right{
    float: right;
}
.title_left{
    float: left;
}
#add_blip_form {
    background-color: #ffffff;
    z-index: 2000;
    display: none;
    position: absolute;
    width: 500px;
    padding: 30px;
    top: 200px;
    left: 200px;
    border-radius: 20px;
}
§
.cover {
    position: absolute;
    background-color: #000000;
    display: none;
    opacity: 0.4;
    z-index: 1000;
    width: 1500px;
    height: 1000px;
}

#more_info {
    display: none;

}

#more_info #name {
    font-size: 24px;
}

#more_info #description {
    font-size: 18px;
}

.blip {
    cursor: pointer;
}